/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 70px;
 }

img {
  height: 200px;
  width: 100%;
}

.card-text{
  padding-bottom: 20px;
}

.btn{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
