<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
      <a class="navbar-brand text-uppercase" href="#">agregator</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="getArticles('news')" href="#">Wiadomości</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getArticles('technology')" href="#">Technologia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getArticles('music')" href="#">Muzyka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getArticles('sport')" href="#">Sport</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row no-gutters">
      <app-news-item class="col-lg-3 col-md-6 col-xs-12 d-flex align-items-stretch" *ngFor="let article of articles" [article]="article"></app-news-item>
    </div>
</div>
