<div class="card">
  <img class="card-img-top" src="{{article.thumbnail}}" alt="thumbnail image">
  <div class="card-block">
    <h4 class="card-title">{{article.title}}</h4>
    <p class="card-text">{{article.content}}</p>
    <a href="{{article.link}}" class="btn btn-primary">Więcej</a>
  </div>
</div>
